@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.cdnfonts.com/css/vt323');



body {
  font-family: 'VT323', sans-serif;
  background-color: black;
  color: #FFEE55;
} 

::selection {
  background-color: rgb(255, 230, 0);
  color: black; /* This sets the text color inside the highlighted area to white for better visibility */
  text-transform: uppercase;
}
